section{
    height:500px;
    width:90%;
    margin:0 auto;
    background-color:#16065A;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    height:100px;
    width:100px;
    font-size:2rem;
    display: flex;
    justify-content: center;
}

