<%- include('partials/head') %>

    <div class="container"> <%- include('partials/navbar') %>
    <h1>HOME PAGE <%= 4+3+1 %></h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ipsa laudantium illum sunt ducimus nostrum omnis dolores quaerat minima, suscipit delectus eligendi deleniti at recusandae perspiciatis quas, ipsum, unde qui!no
    </p>
   
    <%- include('partials/footer') %>