<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ADD FARM</h1>
    <form action="/farms" method="POST">
        <label for="name">FARM NAME</label>
        <input type="text" name="name" id="name" placeholder="farm name">
        <label for="city">CITY</label>
        <input type="text" name="city" id="city" placeholder="city name">
        <label for="email">EMAIL</label>
        <input type="text" name="email" id="email" placeholder="email">
        <button>ADD A PRODUCT</button>
    </form>
</body>
</html>